* {
    font-family: Lato;
    font-weight: 400;
    color: #555555 ;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0,1fr) repeat(6, minmax(0,175px)) minmax(0,1fr);
}

ul {
    display: flexbox;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start; 
}

.side {
    float: right;
    width: 180px;
    height: 274px;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(#97D9E1, #D9AFD9);
    padding-top: 30px;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    color: #ffffff;
    margin-top: 30px;
}

main {
    grid-column-start: 3;
    grid-column-end: 8;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-radius: 10px;
}

footer {
    grid-column-start: 3;
    grid-column-end: 8;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

h2 {
    border-bottom: #555555 solid 1px;
    font-weight: 700;
}

p {
    font-weight: 400px;
}

li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 100px;
    border-radius: 5px;
}

li a:hover {
    background-color: #ffffff;
    color: #555555;
}

#wrapper .current-menu-item  a{
    background-color: #ffffff !important;
    color: #555555 !important;
}

@media only screen and (max-width: 960px) { 
    body {
        display: flex;
        align-items: flex-start;
    }
    #wrapper {
        display: block;
    }
    main {
        display: block;
        margin: 0px 0px 0px 0px;
        border-radius: 0px;
    }
    .side {
        float: none;
        width: 100%;
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        padding-left: 0;
        margin: 0; 
    }
    
    li a {
        padding-right: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        font-size: 14px;
    }
    
    li {
        display: inline-block;
    }
    
    header {
        margin-top: 0px;
    }
    div {
        margin-bottom: 0px;
    }
}
